

.customers__header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: $main_color;
  margin-bottom: 30px;
  @media screen and (min-width: $desktop) {
    font-size: $additional_header_size;
    line-height: 1.1666;
    margin-bottom: 50px;
  }
}
.customers__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}
.customers__item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
  @media screen and (min-width: $tables_min) {
    width: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 180px) / 6);
  }
}
.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $social_icon_color;
  border-radius: 4px;
  height: 92px;
  color: $social_icon_color;
  &:hover,
  &:focus {
    border-color: $web_hover_button_color;
    color: $web_hover_button_color;
  }
}
.customers_icon {
  fill: currentColor;
}
