@import '../utils/placeholder';
.footer {
  background-color: $wrapper_footer_background_color;
}

.footer__container {
  text-align: center;
}

.footer-addres-block {
}

.address {
  margin-top: 20px;
  margin-bottom: 60px;
}
.address__list {
}

.address__item {
  margin-bottom: 8px;
}
.address__location {
  font-size: $mobile_main_text_size;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $white_color;
  text-decoration: none;
}
.address__mail,
.address__phone {
  @extend %footer_contacts;
}

.footer__social {
  margin-bottom: 60px;
}
.footer_connect {
    display: block;
  font-weight: 700;
  font-size: $mobile_main_text_size;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white_color;
  margin-bottom: 20px;
}
.social__list {
  display: flex;
  justify-content: center;
}
.social__item:not(:last-child) {
    margin-right: 10px;
}
.social__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $white_color;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms $animation;

    &:hover, &:focus {
        background-color: $web_hover_button_color;
    }
}

.mailing {
}
.mailing__header {
}
.mailing__form {
}
.mailing__input {
}
.mailing__button {
}
.mailing__icon {
}
