html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.lists {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $main_color;
  letter-spacing: 0.03em;
  font-size: $main_text_size;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (min-width:$mobile_min) {
    max-width: $mobile_min;
  }
  @media screen and (min-width:$tables_min) {
    max-width: $tables_min;
  }
  @media screen and (min-width:$desktop) {
    max-width: $desktop;
  }
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding: 94px 0;
  @media  screen and (max-width:1199px) {
    padding: 60px 0;
  }
}