.logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1666;
  color: $web_hover_button_color;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 24px;

  @media screen and (min-width:480px) and (max-width:1199px)  {
    font-size: $logo_size;
    padding-top: 16px;
    padding-bottom: 16px;      
  }
  @media screen and (min-width:768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

.logo_2nd-part {
  color: $black_color;
}

.footer__logo {
  color: $white_color;
}