.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms $animation, visibility 250ms $animation;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  width: 100%;
  min-height: 609px;
  background-color: $white_color;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 1250ms $animation;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 130, 209, 0.7) 40%,
    rgba(255, 209, 0, 0.7) 100%
  );

  @media screen and (min-width: $desktop) {
    max-width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotateZ(360deg);
}
.modal__header {
  width: 370px;
  font-weight: 700;
  font-size: $modal_text;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.03em;
  color: $main_color;

  margin-bottom: 12px;
  @media screen and (max-width: 479px) {
    width: 100%;
  }
  @media screen and (min-width: $desktop) {
    width: 100%;
    line-height: 1.15;
  }
}

.form__label {
  position: relative;
  display: block;
  margin-bottom: 10px;

  font-size: $form_label_text;
  line-height: 1.166;
  letter-spacing: 0.01em;

  color: $mail_phone_desc;
}
.form__input {
  display: block;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms $animation;
  &:focus-within {
    border: 1px solid $web_hover_button_color;
    border-radius: 4px;
    outline: none;
  }
}
.form__icon {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  bottom: 9px;
  left: 12px;
  transition: fill 250ms $animation;
  .form__input:focus + & {
    fill: $web_hover_button_color;
  }
}
.form-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-comment__name {
  margin-bottom: 4px;

  font-size: $form_label_text;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $mail_phone_desc;
}
.form-comment_input {
  padding: 12px 16px;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms $animation;
  &:focus-within {
    border: 1px solid $web_hover_button_color;
    border-radius: 4px;
    outline: none;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.checkbox__input {
  appearance: none;
}
.checkbox__icon {
  margin-right: 8.4px;
  display: inline-block;
  width: 16px;
  height: 15px;

  border-radius: 2px;
  background-color: $white_color;
  border: 2px solid $black_color;
  cursor: pointer;
  transition: background-color 250ms $animation, border-color 250ms $animation;

  .checkbox__input:focus + & {
    border-color: $web_hover_button_color;
  }
  .checkbox__input:checked + & {
    background-image: url(../images/checked-icon.svg);
    border-color: $web_hover_button_color;
    background-origin: border-box;
    background-position: center;
    background-color: $web_hover_button_color;
    background-size: contain;
  }
}
.checkbox__text {
  font-size: $form_label_text;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $mail_phone_desc;
  margin-right: 3px;
  @media screen and (min-width: $desktop) {
    font-size: $main_text_size;
    line-height: 1.71;
  }
}
.checkbox__link {
  font-size: $form_label_text;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $web_hover_button_color;
  cursor: pointer;
  @media screen and (min-width: $desktop) {
    font-size: $main_text_size;
    line-height: 1.71;
  }
}
.form__button {
  display: block;
  padding: 10px 55px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  color: $white_color;
  background: $web_hover_button_color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;

  font-size: $button_text_size;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: backgorund-color 250ms $animation;

  &:hover,
  &:focus {
    background-color: $web_hover_button_color;
  }
}
.button-close {
  position: absolute;
  top: 7px;
  right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $black_color;

  background: $white_color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 250ms $animation, color 250ms $animation;
  &:hover,
  &:focus {
    border-color: $web_hover_button_color;
    color: $web_hover_button_color;
  }
}
.button-close__icon {
  fill: currentColor;
}
