.card-set {
  margin-bottom: -30px;
  @media screen and (min-width: $tables_min) {
    margin-right: -30px;
    display: flex;
    flex-wrap: wrap;
  }
}
.card-set__item {
  display: block;
  background-color: $white_color;
  margin-bottom: 30px;
  @media screen and (min-width: $tables_min) {
    margin-right: 30px;
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 3);
  }
}
.card-set__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  transition: box-shadow 250ms $animation;
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.card__description {
  position: relative;
  overflow: hidden;
}
.card__text {
  position: absolute;
  height: 100%;
  overflow-y: auto;
  bottom: 0;
  left: 0;
  padding: 77px 24px;
  transform: translateY(101%);
  transition: transform 250ms $animation;

  font-weight: 400;
  font-size: $card_text;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: $white_color;
  background-color: rgba(33, 150, 243, 0.9);

  .card-set__link:hover &,
  .card-set__link:focus & {
    transform: translateY(0);
  }
}

.card-meta {
  border: 1px solid $card_border;
  border-top: 0;
  padding: 20px 24px;
  flex-grow: 1;
}
.card-meta__name {
  font-weight: 700;
  font-size: $card_text;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $main_color;
  margin-bottom: 4px;
}
.card-meta__type {
  font-size: $team_and_card;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $mail_phone_desc;
}
