.team {
  background-color: $port_buttons_and_team_background;
}

.team__header {
  font-weight: 700;
  font-size: $mobile_team_header;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  @media screen and (min-width: $desktop) {
    font-size: $additional_header_size;
    margin-bottom: 50px;
  }
}

.team__list {
  @media screen and (min-width: $tables_min) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.team__item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $white_color;
  margin-bottom: 30px;
  @media screen and (min-width: $tables_min) {
    margin-left: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.team__meta {
  padding: 30px 0 24px;
  @media screen and (min-width: $tables_min) {
    padding: 30px 74px 24px;
  }
  @media screen and (min-width: $desktop) {
    padding: 30px 32px;
  }
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: $team_and_card;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main_color;
}
.team__position {
  margin-bottom: 16px;
  font-size: $team_and_card;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $mail_phone_desc;
}
.team-social__list {
  display: flex;
  justify-content: center;
}
.team-social__item:not(:last-child) {
  margin-right: 10px;
}
.team-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: $social_icon_color;

  transition: color 250ms $animation, background-color 250ms $animation;

  &:hover,
  &:focus {
    background-color: $web_hover_button_color;
    color: $white_color;
  }
}
.team-social__icon {
  fill: currentColor;
}
