%footer_contacts {
  font-size: $mobile_main_text_size;
  line-height: 1.71;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
